* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
    gap: 60px;
    padding: 30px 8% 0 5%;
}
body {
    background: white;
}

a {
    color: #fff;
    text-decoration: none;
}
.text{
max-width: 500px;
}

header {
    background-color: black;
    padding: 35px 8% 35px 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.nav a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: lightgray;
}

.contact {
    padding: 10px 20px;
    background: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 4pc;
    font-size: 18px;
    font-weight: 400;
}

.contact:hover {
    background-color: black;
    color: black;
    border-color: whitesmoke;
}

.home {
    padding: 30px 8% 0 3%;
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    gap: 60px;
}

.home-content {
    flex: 1;
    max-width: 700px;
    margin-left: 0;
}

.home-content h3 {
    font-size: 42px;
}

.home-content h1 {
    font-size: 52px;
    line-height: 1.2;
}

.home-content p {
    font-size: 18px;
    margin: 25px 0 30px;
    color: white;
}

.img-box img {
    border-radius: 50%;
    width: 20pc;
}

.btn-box {
    width: 345px;
    display: flex;
    gap: 2em;
}

.btn-1 {
    padding: 15px 28px;
    background: black;
    color: white;
    border: 2px solid white;
}

.left-image {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

.dev1 {
    justify-content: end;
}

